# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/

# IDE
.vscode/*
!.vscode/extensions.json
.idea


# native 
/gradle
/ios
/android
src/android/gradle
packages/*/android/.gradle
packages/*/android/build
packages/*/android/.settings